.main_brands_working {
    padding: 0;
}
.main_brands_working .container .brands_wapper {
    padding-top: 65px;
    padding-bottom: 80px;
    background-color:#F5F4F9;
}
.section_title {
    width: 100%;
    display: inline-block;
    text-align: center;
}
.main_brands_working .section_title h2 {
    margin-bottom: 1rem;
}

.section_title h2 {
    font-size: 32px !important;
    font-weight: 500;
    color: #000;
    font-family: 'Poppins', sans-serif !important;
    letter-spacing: 0px;
}
.main_brands_working .container p {
    padding-bottom: 20px;
}

.section_title p {
    font-size: 14px;
    font-weight: 400;
    color: #9B9B9B;
    line-height: 24px;
    width: 90%;
    display: block;
    margin: 0 auto 15px;
}
.main_brands_working .logo_div {
    display: inline-flex;
    margin: 20px 16px;
}
.main_brands_working a.btn {
    font-size: 18px;
    font-weight: 600;
    color: #068AC4;
    text-decoration: none;
    margin: 25px 0 0px;
    background: transparent;
}